.hero {
  background-image: url("/assets/images/torshov.jpg");
  background-size: cover;
  text-align: center;
  padding: 7.43rem 2rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-size: var(--font-size-400);
  background-color: var(--color-dark-blue);
  padding: 0.125em 0.375em;
  border-radius: var(--radius-100);
  margin-bottom: 0.68rem;
}

.hero__para {
  background-color: var(--color-blue);
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-400);
  max-width: 412px;
  border-radius: var(--radius-100);
  padding: 0.37em 1.49em;
}
