.hero {
  background-image: url("/assets/torshov.jpg");
  background-size: cover;
  padding: 7.5rem 0;
  text-align: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title,
.hero__sub-title {
  border-radius: var(--border-radius-100);
}

.hero__title {
  background-color: var(--color-dark-blue);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-300);
  padding: 0.156em 0.375em;
  margin-bottom: 0.68rem;
}

.hero__sub-title {
  background-color: var(--color-blue);
  font-size: var(--font-size-150);
  padding: 0.156em 0.375em;
  max-width: 412px;
}
