*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-arial);
}

img {
  width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  color: inherit;
  font: inherit;
  background: transparent;
  border: none;
}
