:root {
  /* Colors */
  --color-gray: #c4c4c4;
  --color-white: #fff;
  --color-light-green: #f1faee;
  --color-light-blue: #a8dadc;
  --color-blue: #457b9d;
  --color-dark-blue: #1d3557;

  /* Fonts */
  --font-arial: arial, helvetica, sans-serif;

  /* Font Sizes */
  --font-size-100: 1rem;
  --font-size-150: 1.17rem;
  --font-size-200: 1.5rem;
  --font-size-300: 2rem;

  /* Font Weights */
  --font-weight-100: 400;
  --font-weight-400: 700;

  /* Border Radius */
  --border-radius-100: 10px;
  --border-radius-circular: 50%;
}
